<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>feedback</display-name>
 <!-- Admin Login Servlet --> 
  <servlet>
    <servlet-name>adminlogin</servlet-name>
    <servlet-class>com.feedback.login.AdminServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>adminlogin</servlet-name>
    <url-pattern>/Login/adminLogin</url-pattern>
  </servlet-mapping>
  
  <!-- Teacher Login Servlet --> 
  <servlet>
    <servlet-name>teacherlogin</servlet-name>
    <servlet-class></servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>teacherlogin</servlet-name>
    <url-pattern>/teacherLogin</url-pattern>
  </servlet-mapping>
  
  <!-- Add New Teacher -->
  <servlet>
    <servlet-name>addnewteacher</servlet-name>
    <servlet-class>com.feedback.teacher.CreateTeacherServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>addnewteacher</servlet-name>
    <url-pattern>/Login/addnewteacher</url-pattern>
  </servlet-mapping>
  
  <!-- Add New Teacher -->
  <servlet>
    <servlet-name>removeteacher</servlet-name>
    <servlet-class>com.feedback.teacher.RemoveTeacherServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>removeteacher</servlet-name>
    <url-pattern>/Login/removeteacher</url-pattern>
  </servlet-mapping>
   <!-- Teacher Login -->
  <servlet>
    <servlet-name>teacherlogin</servlet-name>
    <servlet-class>com.feedback.login.TeacherServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>teacherlogin</servlet-name>
    <url-pattern>/Login/teacherlogin</url-pattern>
  </servlet-mapping>
  
   <!--Add New Student -->
  <servlet>
    <servlet-name>addnewstudent</servlet-name>
    <servlet-class>com.feedback.CreateStudent.CreateStudent</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>addnewstudent</servlet-name>
    <url-pattern>/Login/addnewstudent</url-pattern>
  </servlet-mapping>
  <!--Coordinator password change -->
  <servlet>
    <servlet-name>changepass</servlet-name>
    <servlet-class>com.feedback.changepassword.ChangePassword</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>changepass</servlet-name>
    <url-pattern>/Login/changepass</url-pattern>
  </servlet-mapping>
   <!--Teacher password change -->
  <servlet>
    <servlet-name>changetpass</servlet-name>
    <servlet-class>com.feedback.changepassword.ChangePassword</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>changetpass</servlet-name>
    <url-pattern>/Login/changetpass</url-pattern>
  </servlet-mapping>

   <!--Teacher Generate report -->
  <servlet>
    <servlet-name>generateReport</servlet-name>
    <servlet-class>com.feedback.teacher.GenerateTeacherReportServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>generateReport</servlet-name>
    <url-pattern>/Login/generateReport</url-pattern>
  </servlet-mapping>
  
  <!--Admin Teacher Generate report -->
  <servlet>
    <servlet-name>adminteacherreport</servlet-name>
    <servlet-class>com.feedback.teacher.AdminTeacherReportServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>adminteacherreport</servlet-name>
    <url-pattern>/Login/adminteacherreport</url-pattern>
  </servlet-mapping>
  <!--Admin Logout -->
   <servlet>  
    
    <servlet-name>AdminLogout</servlet-name>  
    <servlet-class> com.feedback.adminlogout.LogoutServlet</servlet-class>  
  </servlet>  
  <servlet-mapping>  
    <servlet-name>AdminLogout</servlet-name>  
    <url-pattern>/Logout</url-pattern>  
  </servlet-mapping>  
  <!-- Student Login  --> 
  <servlet>
    <servlet-name>studentlogin</servlet-name>
    <servlet-class>com.feedback.login.StudentServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>studentlogin</servlet-name>
    <url-pattern>/Login/studentlogin</url-pattern>
  </servlet-mapping>
   <!--student password change -->
  <servlet>
    <servlet-name>changespass</servlet-name>
    <servlet-class>com.feedback.changeSpassword.ChangeSPassword</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>changespass</servlet-name>
    <url-pattern>/Login/changespass</url-pattern>
  </servlet-mapping>
  
  <!-- Student Feedback -->
  <servlet>
    <servlet-name>studentfeedback</servlet-name>
    <servlet-class>com.feedback.question.QuestionServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>studentfeedback</servlet-name>
    <url-pattern>/Login/studentfeedback</url-pattern>
  </servlet-mapping>
  
  
  
  
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
</web-app>